<html>
    <head>
        <title>Paolo Armas</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="justify-items: center; padding: 15px;">
            <p style="color: white; font-size: 50px;">Paolo Armas</p>
            <p style="color: white; font-size: 25px;">Codigo: 20233732</p>
        </div>

        <div style="justify-items: center; padding: 15px;">
            <div style="display: flex; flex-direction: row;">
                <p style="color: white; font-size: 15px; max-width: 520px; padding: 5px;">
                    Soy desarrollador en Avax y actualmente estoy en el quinto año de Ingeniería de Sistemas. Me apasiona crear soluciones innovadoras en el ámbito del software. Además, soy piloto de carreras amateur, disfrutando de la competencia y la adrenalina que ofrece cada carrera. Esta combinación de tecnología y velocidad me impulsa a seguir aprendiendo y creciendo en ambos campos.
                </p>
            </div>
        </div>
    </body>
    <style>
        body{
            margin: 0;
            background: black;
            font-family: "Host Grotesk", serif;
        }
    </style>
</html>